In [7]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\hp\appdata\roaming\python\python313\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\roaming\python\python313\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd
df = pd.read_csv("Salaries.csv", low_memory=False)

1. Which employee has the highest TotalPayBenefits?

In [7]:
df["TotalPayBenefits"] = pd.to_numeric(df["TotalPayBenefits"], errors='coerce')
highest_paid = df.loc[df["TotalPayBenefits"].idxmax()]
print(highest_paid[["EmployeeName", "TotalPayBenefits"]])

EmployeeName        NATHANIEL FORD
TotalPayBenefits         567595.43
Name: 0, dtype: object

2. Drop ID, Notes, Agency and Status Columns

In [10]:
df = df.drop(columns=["Id", "Notes", "Agency", "Status"], errors='ignore')
df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

3. Total Number of Job Titles Contain POLICE

In [12]:
police_jobs_count = df["JobTitle"].str.upper().str.contains("POLICE", na=False).sum()
print(f"Number of job titles containing 'POLICE': {police_jobs_count}")

Number of job titles containing 'POLICE': 8201

4. Top 10 most common job titles?

In [14]:
top10_common_jobs = df["JobTitle"].value_counts().head(10)
print(top10_common_jobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: count, dtype: int64

5. What are the top 10 average TotalPay by JobTitle?

In [16]:
df["TotalPay"] = pd.to_numeric(df["TotalPay"], errors='coerce')
top10_jobs = df.groupby("JobTitle")["TotalPay"].mean().sort_values(ascending=False).head(10)
print(top10_jobs)

JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Chief Investment Officer                          339653.700000
Chief of Police                                   329183.646667
Chief, Fire Department                            325971.683333
DEPUTY DIRECTOR OF INVESTMENTS                    307899.460000
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)            302377.730000
Gen Mgr, Public Trnsp Dept                        297769.413333
Asst Chf of Dept (Fire Dept)                      281763.483889
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      279359.560000
Dep Dir for Investments, Ret                      278592.545000
Name: TotalPay, dtype: float64

6. How many unique job titles are there each year?

In [18]:
unique_titles_per_year = df.groupby("Year")["JobTitle"].nunique()
print(unique_titles_per_year)

Year
2011    1045
2012    1044
2013    1051
2014     997
Name: JobTitle, dtype: int64

7. Find Average TotalPay Of All Employee Per Year

In [20]:
avg_totalpay_per_year = df.groupby("Year")["TotalPay"].mean()
print(avg_totalpay_per_year)

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

8. How many unique employees worked each year?

In [22]:
unique_employees_per_year = df.groupby("Year")["EmployeeName"].nunique()
print(unique_employees_per_year)

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

9. Which year had the most employees earning over 100,000 in TotalPay?

In [24]:
over_100k_per_year = df[df["TotalPay"] > 100000].groupby("Year")["EmployeeName"].count()
year_most_100k = over_100k_per_year.idxmax()
print(f"Year with most employees earning over 100K: {year_most_100k}")

Year with most employees earning over 100K: 2013

10. Which columns have missing values?

In [26]:
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

BasePay       605
Benefits    36159
dtype: int64