1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:

   Sum

   Difference

   Product

   Division

   Floor Division

   Modulus

In [3]:
a=15
b=4
sum_total = a+b
difference = a-b
product = a*b
division = a/b
floor_division = a//b
modulus =a%b

In [5]:
print(sum_total)
print(difference)
print(product)
print(division)
print(floor_division)
print(modulus)

19
11
60
3.75
3
3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [2]:
num1 = 10
type(num1)

int

In [3]:
float_num1 = float(num1)
type(float_num1)

float

In [4]:
num2 = 5.6
num3 = 4.43
type(num2)
type(num3)

float

In [5]:
int_num2 = int(num2)
int_num3 = int(num3)
type(int_num2)
type(int_num3)

int

In [6]:
str_num1 = str(float_num1)
str_num2 = str(num2)
str_num3 = str(num3)
type(str_num1)
type(str_num2)
type(str_num3)

str

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [8]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
fruits

['apple', 'banana', 'cherry', 'coconut', 'pineapple', 'mango', 'orange']

In [9]:
print(fruits[0])

apple

In [10]:
print(fruits[-1])

orange

In [11]:
print(fruits[3])

coconut

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [13]:
numbers = [10, 20, 30, 40, 50]
numbers

[10, 20, 30, 40, 50]

In [14]:
print(numbers[:3])

[10, 20, 30]

In [15]:
print(numbers[3:])

[40, 50]

In [16]:
print(numbers[1:])

[20, 30, 40, 50]

In [17]:
print(numbers[0:4])

[10, 20, 30, 40]

In [18]:
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [99]:
print(numbers[::2])

[10, 30, 50]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [21]:
nums = [1, 2, 3]
nums

[1, 2, 3]

In [22]:
nums.append(10)
nums

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [24]:
nums = [1, 2, 3]
nums

[1, 2, 3]

In [25]:
nums.insert(1, 99)
nums

[1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [27]:
nums = [1, 2, 3]
nums

[1, 2, 3]

In [28]:
nums.extend([4,5])
nums

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [30]:
nums = [4, 1, 3, 2]
nums

[4, 1, 3, 2]

In [31]:
nums.sort()
nums

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [33]:
order = ["burger", "fries", "coke"]
order

['burger', 'fries', 'coke']

In [34]:
order.append("ice cream")
order

['burger', 'fries', 'coke', 'ice cream']

In [35]:
order.append("biryani")
order

['burger', 'fries', 'coke', 'ice cream', 'biryani']

In [36]:
order.remove("biryani")
order

['burger', 'fries', 'coke', 'ice cream']

In [37]:
final_order = order
final_order

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [39]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers

['Ali', 'Zara', 'Ahmed']

In [71]:
passengers.insert(2, "Sara")
passengers

['Ali', 'Zara', 'Sara', 'Ahmed']

In [73]:
passengers.remove("Zara")
passengers

['Ali', 'Sara', 'Ahmed']

In [101]:
passengers.reverse()
passengers

['Ahmed', 'Sara', 'Ali']